objs/
dist/README-SDL.txt
dist/README-glm.txt
dist/README-libogg.txt
dist/README-libopus.txt
dist/README-libpng.txt
dist/README-opusfile.txt
dist/SDL2.dll
dist/CookMap
dist/CookMap.exe
dist/CookMap.ilk
dist/CookMap.pdb
sprites/pack-sprites
sprites/pack-sprites.exe
sprites/pack-sprites.ilk
sprites/pack-sprites.pdb
sprites/the-planet/
.DS_Store
settings.json
.idea/